<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Complex Layout - jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" href="../../themes/hd.css">
    <link rel="stylesheet" type="text/css" href="../../themes/metro/easyui.css">
    <link rel="stylesheet" type="text/css" href="../../themes/icon.css">
    <script type="text/javascript" src="../../jquery.min.js"></script>
    <script type="text/javascript" src="../../jquery.easyui.min.js"></script>
</head>
<body>
    <div class="easyui-layout" style="height:350px;">
    <div data-options="region:'west',split:true, iconCls:'icon-tip'" title="菜单栏" style="width:200px;">
        <div class="easyui-accordion" data-options="fit:true,border:false">
            <div title="消息管理" style="padding:10px;">蜜蜂广播</div>
            <div title="物业管理" data-options="selected:true" style="padding:10px;">
                <ul>
                    <li>
                        <a href="">公区报修</a>
                    </li>
                    <li>
                        <a href="">访客记录</a>
                    </li>
                    <li>
                        <a href="">住户管理</a>
                    </li>
                    <li>
                        <a href="">业主心声</a>
                    </li>
                </ul>
            </div>
            <div title="系统管理" style="padding:10px">content3</div>
        </div>
    </div>
    <div data-options="region:'center',title:'蜜蜂广播'">
        <div class="easyui-tabs" data-options="fit:true,border:false,plain:true">
            <div title="广播列表" style="padding:10px">111</div>
            <div title="草稿箱" style="padding:10px">222</div>
            <div title="发布广播" style="padding:10px">
                <!-- datagrid -->
                <table class="easyui-datagrid" title="表格名称" style="width:700px;height:250px"
            data-options="singleSelect:true,collapsible:true,url:'datagrid_data1.json',method:'get'">
                    <thead>
                        <tr>
                            <th data-options="field:'itemid',width:80">Item ID</th>
                            <th data-options="field:'productid',width:100">Product</th>
                            <th data-options="field:'listprice',width:80,align:'right'">List Price</th>
                            <th data-options="field:'unitcost',width:80,align:'right'">Unit Cost</th>
                            <th data-options="field:'attr1',width:250">Attribute</th>
                            <th data-options="field:'status',width:60,align:'center'">Status</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>